<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB2.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/orcl;PASSWORD=e20000717;PERSIST SECURITY INFO=True;USER ID=SYSTEM"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>